*{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 19px;
    padding: 2px;
}

/*Navegacion y Titulo*/
.titulo{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(84, 154, 13);
    margin: 0px;
    padding: 20px;
}
.navegacion{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.item{
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
a{
    color: white;
    text-decoration: none;
}
.item:hover {
    background:rgb(84, 154, 13);
}
/*Principal*/
#imagen{
    text-align: center;
}
.discos{
    display: flex;
    justify-content: space-around;
}
.hdd{
    background-color: rgb(44, 133, 103);
    padding: 6px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.ssd{
    background-color: rgb(44, 133, 103);
    padding: 6px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1{
    font-size: 21px;
    text-align: center;
}
h2{
    font-size: 19px;
    text-align: center;
}

/*Pie de Página*/
.piedepagina{
    background-color: rgb(134, 130, 130);
    padding: 8px;
    margin: 0px;
    text-align: center;
    padding-top: 15px;
}
#redessociales{
    text-align: center;
    font-size: 20px;
}
li{
    list-style: none;
    font-size: 13px;
    
}
.redes{
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
}
#img{
    width: 20px;
    height: 20px;
    padding-top: 6px;
}


