p{
    font-size: 20px;
    padding: 4px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
/*Navegación y Titulo*/
.titulo{
    text-align: center;
    font-size: xx-large;
    background-color: rgb(84, 154, 13);
    margin: 0px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.navegacion{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style: none;
    background-color: rgb(22, 22, 22);
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.item{
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
}
a{
    color: white;
    text-decoration: none;
}
.item:hover {
    background:rgb(84, 154, 13);
}
/*Principal*/
.memoriasram{
    background-color: rgb(84, 154, 13);
    padding: 5px;
    margin: 0px;
    text-align: center;
    border: 2px solid black;
}
img{
    width: 177px;
    height: 148px;
}
h1{
    font-size: 21px;
    padding: 4px;
}
h2{
    font-size: 19px;
    padding: 4px;
}

.RAMS{
    background-color: rgb(156, 79, 79);
    padding: 10px;
}
/*Pie de pàgina*/
.piedepagina{
    background-color: rgb(134, 130, 130);
    padding: 8px;
    margin: 0px;
    text-align: center;
    padding-top: 15px;
}
#redessociales{
    text-align: center;
    font-size: 20px;
}
li{
    list-style: none;
    font-size: 13px;
    
}
.redes{
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
}
#img{
    width: 20px;
    height: 20px;
    padding-top: 6px;
}
